<div id="footer">
    <div class="container clearfix">
        <div class="logo2">
            <a href="{{ path('homepage') }}"><img src="{{ asset('bundles/app/img/logo.png.png') }}" alt="logo"></a>
        </div>
        <div class="contacts2 right">
            <ul>
                <li><span>+375 29</span> 555 55 55</li>
                <li><span>+375 29</span> 555 55 55</li>
                <li><a class="poplight" rel="popup_contact" href="#?w=600">Заказать звонок</a></li>
            </ul>
        </div>
        <div class="worktime2 right">
            <ul>
                <li><b>8:00 - 20:00</b></li>
                <li>Без выходных</li>
            </ul>
        </div>
        <div class="nav-bottom right">
            <h4> Меню</h4>
            <ul>
                <li><a href="index.html">Кухни</a></li>
                <li><a href="mebel.html">Мебель</a></li>
                <li><a href="service.html">Обслуживание</a></li>
                <li><a href="poleznoe.html">Материалы</a></li>
                <li><a href="vopros-otvet.html">Вопрос-ответ</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="autor">
    <div class="container">
        <h5>г.Минск, ООО"Мобильер" </h5>
    </div>
</div>