<div id="header">
    <div class="container clearfix">
        <div class="logo">
            <a href="{{ path('homepage') }}"><img src="{{ asset('bundles/app/img/logo.png.png') }}" alt="logo"></a>
        </div>
        <div class="contacts right">
            <ul>
                <li><span>+375 29</span> 555 55 55</li>
                <li><span>+375 29</span> 555 55 55</li>
                <li><a class="poplight" rel="popup_contact" href="#?w=600">Заказать звонок</a></li>
            </ul>
        </div>
        <div class="worktime right">
            <ul>
                <li><b>8:00 - 20:00</b></li>
                <li>Без выходных</li>
            </ul>
        </div>
    </div>
</div>
<hr/>