<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Как бесплатно получить дизайн-проект?</h4>
            </div>
            <div class="modal-body">
                <div class="sposobi">
                    <div class="sposob-1">
                        <div class="s-caption">
                            <h3>Посетите наш салон</h3>
                            <h4>Вы сможете ознакомиться с материалами в живую и посмотреть экспозиции кухонной
                                мебели </h4></div>
                        <div class="s-list">
                            <ul>
                                <li>Предварительно <a class="poplight" rel="popup_contact" href="#?w=600">ОСТАВЬТЕ
                                        ЗАЯВКУ</a> на сайте либо позвоните по тел +37529555555 чтобы договориться о
                                    встрече с дизайнером
                                </li>
                                <li>Салон работает без выходных , основное время работы с 10:00 до 20:00, по адресу г.
                                    Минск, ул. Шаранговича д. 25, пав. 215.
                                </li>
                            </ul>
                        </div>
                        <div class="s-button"><a class="btn btn-danger  poplight" rel="popup_contact" href="#?w=600">Заказать
                                бесплатный звонок</a></div>
                    </div>
                    <div class="sposob-3">
                        <div class="s-caption">
                            <h3>Выезд дизайнера на дом</h3>
                            <h4>Вы не знаете , как измерить стены Вашей кухни и у Вас нет времени посетить наш салон ?
                                Для этого есть замечательная услуга ВЫЗОВ ДИЗАЙНЕРА на дом.</h4></div>
                        <div class="s-list">
                            <ul>
                                <li>позвоните по тел. 357-14-02 (mts, vel) или
                                    <a class="poplight" rel="popup_contact" href="#?w=600">ЗАКАЖИТЕ ЗВОНОК</a> с сайта
                                </li>
                                <li>Вас проконсультируют по материалам и приблизительной стоимости Вашей кухни под
                                    заказ
                                </li>
                                <li>затем , при желании дальнейшего сотрудничества с нами , Вы оставляте заявку на замер
                                    помещения , с указанием Вашего адреса и удобного времени встречи
                                </li>
                            </ul>
                        </div>
                        <div class="s-button"><a class="btn btn-danger poplight" rel="popup_contact" href="#?w=600">Заказать
                                бесплатный звонок</a></div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>