{% extends '::base.html.twig' %}

{% block title %}Администрирование - вход в панель администрирования{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/css/layout.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/admin.css') }}">
{% endblock %}

{% block body %}
    <div class="login_wrapper">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

