html {
    height: 100%;
}

body {
    margin-bottom: 0;
    min-width: 480px;
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100% !important;
}

textarea {
    resize: vertical;
}

input[type=checkbox] {
    cursor: pointer;
}

.wrapper {
    min-height: 100% !important;
}

/* Alerts */
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-error hr {
    border-top-color: #e4b9c0;
}

.alert-error .alert-link {
    color: #843534;
}

/* Login form */
.login_wrapper .connection {
    top: 40%;
    margin-left: -230px;
}

.login_wrapper .connection form {
    padding-bottom: 20px;
}

.login_wrapper .connection .control-group {
    margin-bottom: 10px;
}

.login_wrapper .connection input[type=text],
.login_wrapper .connection input[type=password] {
    width: 100%;
}

.admin-preview {
    max-width: 100%;
}