#popup_contact {
    border-color: #2F96B4;
}

#popup_contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

#way .form form button {
    margin-top: 15px;
    padding: 5px 15px;
    width: 240px;
}

#about .title h2 {
    margin-bottom: 40px;
}

#calc .just {
    width: 100%;
}

#calc .radioboxes .alert {
    margin-top: 40px;
}

#calc .ch-form .alert {
    margin-top: 40px;
}

#calc .ch-form h4 {
    margin-bottom: 20px;
}

#calc .size-inputs input[type="text"] {
    height: 35px;
    padding: 0 5px;
}

#calc .size-inputs {
    width: 200px;
    text-align: center;
}

#calc .size-inputs label {
    display: block;
}

#calc .btn-calculate {
    background-color: #fc6623;
    padding: 5px 20px;
    height: 35px;
    font-weight: normal;
    text-transform: uppercase;
}

#calc .btn-calculate:hover {
    background-color: #D9534F;
    border-color: #D43F3A;
}

#calc .summary {
    display: none;
}

#calc .zakaz-calc input {
    width: 316px;
    padding: 0 5px;
}

.calc-modal .modal-body img {
    margin-bottom: 30px;
}

.calc-modal .modal-body p {
    margin: 0 10px;
}