html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    background: #fff;
    width: 100%;
    min-width: 960px;
}

.left {
    float: left;
}

.right {
    float: right;
}

ul,
ol {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

a {
    outline: none !important;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.logo {
    margin-top: 10px;
    float: left;
}

.contacts {
    float: right;
    margin-top: 20px;

    font-size: 19px;
    text-align: center;
    font-weight: 500;

}

.contacts .icons {
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 20px;
}

.contacts .codes {
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.contacts .big-phone {
    display: inline-block;
    float: left;
}

.contacts .big-phone span {
    font-size: 50px;
}

.contacts a.poplight {
    color: #FF8000;
}

.contacts2 .icons {
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 20px;
}

.contacts2 .codes {
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.contacts2 .big-phone {
    display: inline-block;
    float: left;
}

.contacts2 .big-phone span {
    font-size: 50px;
}

.phone-icon .icons {
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 20px;
}

.phone-icon .codes {
    display: inline-block;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.phone-icon .big-phone {
    display: inline-block;
    float: left;
    margin-top: 8px;
}

.phone-icon .big-phone span {
    font-size: 30px;
}

.contacts span {
    font-size: 17px;
}

.worktime {
    float: right;
    margin-right: 400px;
    margin-top: -60px;
    text-align: center;
}

ul.navg li p {
    font-size: 17px;
}

ul.navg li {
    text-transform: uppercase;
    font-size: 20px;
}

ul.navg li a {
    color: #ff8000;
    margin-right: 20px;
    font-size: 18px;
}

.phone-icon {
    float: right;
    margin-top: -15px;
    margin-right: 10px;
}

div.phone-icon.right {
    margin-right: 4px;
}

.phone-icon a {
    color: coral;
    float: left;
    margin-top: 8px;

}

.phone-icon p {
    font-size: 18px;
    text-align: center;
    float: right;
    margin-top: 9px;
}

ul.navg li a:hover {
    text-decoration: none;
}

ul.navg li {
    display: inline-block;
}

#myCarousel {
    width: 100%;
}

.slider-caption {
    background: rgba(34, 34, 34, 0.71);
}

.carousel-inner {
    height: 100%;
}

.carousel-inner img {
    width: 100%;
}

#portf {
    margin-top: 50px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.title p {
    font-size: 16px;
    color: gray;
    text-transform: none;
    font-weight: lighter;
}

.title h2 {
    font-size: 50px;
    color: #606060;
}

#adv .title h2 {
    padding-top: 50px;
    color: #222;
    text-shadow: 1px 1px 3px #ffffff;
    font-size: 50px;
}

#adv {
    -webkit-margin-top: 50px;
    margin-top: 50px;
    -o-margin-top: 50px;
    -moz-margin-top: 50px;
    -ms-margin-top: 50px;
    background: #f4f3f3;
    background-size: cover;
}

.adv-box {
    -webkit-margin-top: 50px;
    -moz-margin-top: 50px;
    -ms-margin-top: 50px;
    -o-margin-top: 50px;
    margin-top: 50px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.adv-item {
    height: 330px;
    padding: 20px 30px;
}

.m-r-yes {
    margin-right: 50px;
}

.m-r-none {
    margin-right: 0;
}

.adv-item img {
    border: 10px outset rgb(178, 178, 178);
    box-shadow: 3px 3px 8px #222;
}

.adv-item h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 1px 3px #222;
    background: rgba(0, 0, 0, 0.58);
    padding: 5px 5px 5px 10px;
}

.adv-item p {
    font-size: 23px;
    -o-text-align: center;
    -o-font-size: 23px;
    -o-font-weight: 500;
    color: #0a0a0a;
}

.row {
    width: 100%;
}

#bonus1 {
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    height: 400px;
}

#bonus3 {
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    height: 400px;
}

#bonus1 .b-item-text {
    margin-top: 80px;
}

#bonus1 .b-item-text a {
    margin-top: 50px;
    text-transform: uppercase;
}

.btn-primary {
    background: #f73d76;
    border: none;
    padding: 20px 30px;
    font-size: 15px;
    font-weight: bold;
}

#bonus1 .b-item-text h2 {
    color: #fff;
    text-shadow: 1px 1px 3px #222;
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

#bonus1 .b-item-text {
    background: rgba(34, 34, 34, 0.71);
    height: 200px;
    width: 500px;
    margin-top: 100px;
}

#bonus1 .b-item-text span {
    color: coral;
}

#bonus3 .b-item-text h2 {
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 3px #222;
    padding-top: 20px;
    font-weight: bold;
    font-size: 35px;
}

#bonus3 .b-item-text {
    background: rgba(34, 34, 34, 0.71);
    height: 200px;
    width: 500px;
    margin-top: 100px
}

#bonus3 .b-item-text span {
    color: coral;
}

.b-item-text2 h2 {
    text-align: right;
    color: #222;
    text-shadow: 1px 1px 3px #fff;
}

#bonus2 {
    -webkit-background-size: cover;
    background-size: cover;
    height: 400px;
}

#bonus2 .b-item-text h2 {
    color: #fff;
    text-shadow: 1px 1px 3px #222;
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

#bonus2 .b-item-text {
    background: rgba(34, 34, 34, 0.71);
    height: 200px;
    width: 500px;
    margin-top: 100px;
}

#bonus2 .b-item-text span {
    background: #00baff;
}

.sposobi {
    margin-top: 50px;
}

#way .title span {
    color: #ff8000;
}

#map {
    margin-top: 50px;
}

.bonus-pic {
    background-size: cover;
}

.s-list ul li {
    margin-left: 50px;
    list-style: circle;
    font-size: 16px;
}

.s-button {
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

.s-button a {
    font-size: 20px;
}

.s-button .btn-danger {
    background: #5BC0DE;
    border: none;
}

.s-button .btn-danger:hover {
    background: #ff8000;
}

#autor {
    background: #333;
    text-align: center;
    margin-top: 15px;
    color: white;
}

#autor a {
    color: #ff8000;
}

.logo2 {
    margin-top: 50px;
}

.contacts2 {
    margin-top: -120px;
    font-size: 19px;
    text-align: center;
    font-weight: 500;
}

.contacts2 a {
    color: #ff8000;
    text-shadow: 1px 1px 3px #ffd68a;
}

.contacts2 ul li span {
    font-size: 17px;
}

.worktime2 {
    margin-right: 350px;
    margin-top: -100px;
}

.nav-bottom {
    margin-right: 500px;
    margin-top: -120px;
}

.sposobi {
    width: 540px;
    margin: 0 auto;
}

.sposob-1,
.sposob-2,
.sposob-3 {
    border: 1px solid #e0e0e0;
    padding: 20px 30px;
}

.portfolio a {
    margin: 15px;
    border: 8px solid #f2f2f2;
}

.portfolio .filters {
    color: #9e9e9e;
}

.portfolio .filters li {
    display: inline;
}

.portfolio .filters li a {
    margin: 0 5px;
    color: #9e9e9e;
}

.portfolio .filters .active {
    color: #e74c3c;
    text-decoration: none;
}

.portfolio .portfolio-item {
    width: 25%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.portfolio .portfolio-item a {
    position: relative;
    display: block;
    color: #fff;
}

.portfolio .portfolio-item a .portfolio-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: 4;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding: 0;
}

.portfolio .portfolio-item a img {
    width: 100%;
}

.portfolio .portfolio-item a:hover > .portfolio-overlay {
    opacity: 1;
}

.portfolio .portfolio-item .preview-img {
    transition: all 1.2s linear;
    position: relative;
}

.portfolio .portfolio-item a:hover > .preview-img {
    transform: scale(1.2);
}

.portfolio .portfolio-item .preview-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 12px 30px;
    font: bold 14px/18px "Roboto Condensed", sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.portfolio .portfolio-item .preview-title span {
    transition: all 1.2s linear;
    display: inline-block;
}

.portfolio .portfolio-item a:hover .preview-title span {
    transform: scale(0.85);
}

.portfolio .portfolio-item.more .portfolio-overlay {
    opacity: 1;
}

.portfolio-wrapper .portfolio-item.more .button::after {
    height: 260%;
    opacity: 1;
}

.portfolio-wrapper .portfolio-item.more .button {
    color: #E74C3C;
}

.portfolio > .button {
    border-color: #333;
    font-weight: normal;
    color: #333;
    position: relative;
    z-index: 10;
}

.portfolio > .button i {
    font-size: 22px;
}

.filters li a:after {
    content: "/";
    margin-left: 10px;
    color: #9e9e9e;
}

.filters li:last-child > a:after {
    content: "";
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.portfolio-wrapper .button {
    padding: 20px 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 3px solid #fff;
    color: #fff;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 60px;
    margin: -30px 0 0 -100px;
    display: block;
}

.portfolio-wrapper .button:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 3px solid #fff;
    color: #fff;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.portfolio-wrapper .button:hover,
.button:active {
    color: #e74c3c;
}

.portfolio-wrapper .button:hover:after {
    height: 260%;
    opacity: 1;
}

.portfolio-wrapper .button:active:after {
    height: 400%;
    opacity: 1;
}

#portfolio {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

#portfolio .title p {
    text-align: center;
    margin: 0 auto;
}

#portfolio .title h2.lft {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.portfolio-wrapper {
    margin-top: 20px;
    margin-bottom: 50px;
}

.popup_block {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    display: none;
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 15px;
    border: 10px solid #6e6e6e;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    color: #000;
    font-size: .9em;
}

* html #fade {
    position: absolute;
}

* html .popup_block {
    position: absolute;
}

.note {
    margin: 0 0 30px 0;
}

.close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 24px;
    height: 24px;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(61, 61, 61, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
}

.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
}

.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

#form {
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10px;
    width: 100%;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 5px #CCCCCC, 1px 1px 0 #FFFFFF inset, -1px -1px 0 #FFFFFF inset, 0 0 15px #DDDDDD inset;
    text-align: left;
}

#form fieldset {
    display: inline;
    float: left;
    margin: 0;
    margin-left: 26px;
    padding: 0;
    width: 100%;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
}

#form p {
    margin: .5em 0;
}

#form label {
    display: block;
    margin-bottom: 1px;
    color: #5B5B5B;
}

#form input,
#form textarea {
    padding: 15px;
    border: none;
    -webkit-border-radius: .3em;
    -o-border-radius: .3em;
    -moz-border-radius: .3em;
    border-radius: .3em;
    background-color: #F7F7F7;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #5B5B5B;
    font: 13px Trebuchet MS, Arial, Helvetica, Sans-Serif;
}

#form input {
    width: 90%;
}

#form input:focus,
#form textarea:focus {
    background: #F2F2F2;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
    color: #333;
}

#form textarea {
    overflow: auto;
    width: 100%;
    height: 120px;
}

#form p.submit {
    clear: both;
    margin: 0;
    padding: 10px 25px 20px;
    text-align: right;
}

#form button {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 5px;
    background-color: #f7612a;
    background-image: -moz-linear-gradient(center top, #5BC0DE, #2F96B4);
    background-image: -webkit-linear-gradient(center top, #5bc0de, #2f96b4);
    background-image: -ms-linear-gradient(#5bc0de, #2f96b4);
    background-image: -o-linear-gradient(center top, #5BC0DE, #2F96B4);
    padding: 0 12px;
    text-align: center;
    line-height: 45px;
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#5BC0DE', EndColorStr='#2F96B4', GradientType=0);
    cursor: pointer;
}

#form button:hover {
    box-shadow: none;
    text-shadow: 3px 3px 6px #fff;
    color: white;
}

#form button:active {
    background-image: -moz-linear-gradient(#2F96B4, #5BC0DE);
    background-image: -webkit-linear-gradient(#2F96B4, #5BC0DE);
    background-image: -ms-linear-gradient(#2F96B4, #5BC0DE);
    background-image: -o-linear-gradient(#2F96B4, #5BC0DE);
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#f0cc80', EndColorStr='#846b35', GradientType=0);
}

.carousel-inner img {
    width: 100%;
    margin: 0 auto;
}

.navbar-default .navbar-nav > li {
    margin-top: 8px;
    margin-left: 30px;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-default .navbar-nav > li > a.current {
    color: #e46948;
}

.navbar-default .navbar-nav > li > a.current:hover {
    color: #e46948;
}

.navbar-default .navbar-nav > li > a:hover {
}

.navbar,
.navbar-default,
.navbar-static-top {
    background-color: #fff;
    border: none;
    height: 70px;
}

.is-sticky .navbar.navbar-default.navbar-static-top {
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.9);
}

#undefined-sticky-wrapper,
.sticky-wrapper {
    height: 70px !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    background: #fff;
    border-color: transparent;
    color: #ff4500;
}

.navbar-toggle {
    border-radius: 0;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0;
    color: #222;
}

.navbar-toggle:hover {
    background: #2d3640;
}

.navik {
    width: 100%;
    margin: 10px 0;
}

#about p {
    font-size: 18px;
    line-height: 30px;
}

.w-box {
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.w-box .w-item {
    display: inline-block;
    text-align: center;
    box-shadow: 1px 2px 15px #222;
    margin: 15px;
    padding: 5px 5px 25px;
    height: 380px;
}

.w-box .w-item img {
    width: 300px;
    height: 230px;
    margin: 20px;
    border: outset 5px #ff8000;
}

.w-box .w-item h3 {
    text-transform: uppercase;
    font-size: 19px;
    font-family: 'Roboto Condensed', sans-serif;
}

.w-box .w-item .btn-danger {
    text-transform: uppercase;
    padding: 5px 10px;
    font-weight: bold;
    background: #ff8000;
    border: none;
}

.w-box .w-item .btn-danger:hover {
    background: #c9843e;
}

#raboti {
    margin-bottom: 50px;
}

.f-descrip {
    box-shadow: 2px 2px 10px #222;
}

.f-item {
    height: 100%;
    padding: 30px 20px;
}

.f-item ul li {
    list-style: circle;
    margin-left: 32px;
    font-size: 18px;
}

.f-item img {
    margin-top: 35px;
    width: 400px;
    height: 300px;
}

.f-item-title {
    background: url(../img/stati/fasad.jpg) no-repeat center bottom;
    height: 400px;
}

.f-item-title h2 {
    font-size: 55px;
    color: #fff;
    text-shadow: #222 1px 1px 3px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 160px;
    font-family: 'Roboto Condensed', sans-serif;
}

#banner {
    background: url(../img/banner1.jpg) no-repeat left;
    text-align: center;
    height: 650px;
    width: 100%;
}

.priziv h1 {
    color: #fff;
    text-shadow: 1px 1px 8px #222;
    text-transform: uppercase;
    font-size: 55px;
    background: rgba(0, 0, 0, 0.46);
}

.priziv h2 {
    color: #fff;
    text-shadow: 1px 1px 5px #222;
    text-transform: uppercase;
    font-size: 43px;
}

.priziv {
    padding-top: 100px;
}

.priziv h1 span {
    text-decoration: underline;
}

.priziv h2 span {
    color: #ff713d;
}

.zayavka {
    padding-top: 60px;
}

.zayavka ul li {
    display: inline-block;
    margin-right: 10px;
}

.zayavka .btn-danger {
    padding: 25px 30px;
    text-transform: uppercase;
    background: #fc6623;
    font-size: 25px;
    border: none;
}

.zayavka .btn-danger:hover {
    background: #f8a477;
}

.zayavka .btn-default {
    padding: 25px 30px;
    text-transform: uppercase;
    font-size: 25px;
    background: transparent;
    color: #fff;
}

#way .form {
    text-align: center;
}

#way form {
    border: 1px solid gray;
    width: 300px;
    height: 330px;
    margin-top: 25px;
    background: rgba(255, 255, 255, 0.58);
}

#way .form form input {
    margin-top: 15px;
    padding: 5px 15px;
    width: 230px;
}

#way .form form a {
    margin-top: 15px;
    padding: 5px 15px;
    width: 240px;
}

#way .title {
    text-align: left;
    margin-top: 15px;
}

#way .title a {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 20px;
    color: #ff8000;
}

#way {
    background: url(../img/dost.jpg) no-repeat;
    height: 390px;
}

#respond {
    margin-top: 50px;
}

.respond-item p,
h3,
h4 {
    font-family: cabin, sans-serif;
}

.respond-item p {
    font-size: 16px;
}

.respond-item {
    box-shadow: 3px 3px 10px #222;
    height: 150px;
    padding: 5px 15px;;
}

.r-box {
    margin-top: 50px;
}

#skinali {
    margin-top: 50px;
    background: url(../img/skinali.jpg) center bottom no-repeat;
    width: 100%;
    height: 312px;;
}

#skinali h2 {
    font-size: 55px;
    color: white;
    width: 800px;
    background: rgba(0, 0, 0, 0.56);
    text-transform: uppercase;
}

#skinali h3 {
    font-size: 55px;
    color: #fc6731;
    width: 350px;
    text-transform: uppercase;
    font-family: "roboto condensed";
    font-weight: bold;
}

#skinali h4 {
    font-size: 35px;
    color: #292929;
    text-transform: uppercase;
    font-family: "roboto condensed";
}

.skinali-btn .btn-danger {
    padding: 10px 20px;
    font-size: 25px;
    font-weight: 500;
}

#skinali .textepta {
    margin-top: 19px;
}

.mapid {
    background: url(../img/map.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 450px;
    margin-top: 50px;
}

#respond .btn-primary {
    margin: 0 auto;
    background: #d3d3d3;
    color: #222;
    font-weight: lighter;
    width: 100%;
    text-transform: uppercase;
    font-size: 30px;
}

#respond .btn-primary:hover {
    background: #c6c6c6;
}

.just {
    background: #ff580e;
    width: 55px;
    height: 5px;
    margin: 0 auto;
}

.title p {
    font-size: 25px;
}

.ch-form .radio {
    display: inline-block;
    margin: 25px;
}

.ch-form .alert {
    margin-top: 25px;
}

.calc-body .just {
    float: left;
    width: 550px;
}

.radioboxes {
    margin-top: 55px;
}

.ch-form {
    margin-top: 55px;
}

.zakaz-calc {
    margin-top: 55px;
}

.zakaz-calc input {
    width: 320px;
    height: 35px;
    margin-bottom: 25px;
    border-radius: 5px;
    text-align: left;
}

.zakaz-calc .btn-primary {
    font-size: 15px;
    padding: 10px 100px;
    text-transform: uppercase;
    font-weight: lighter;
    background: #fc6623;
}

.zakaz-calc .btn-primary:hover {
    background-color: #d9534f;
    border-color: #d43f3a;
}

.zakaz-calc form {
    margin-top: 25px;
    background: #efefef;
    padding: 30px 40px;
    width: 400px;
}

.forms {
    margin-top: 25px;
}

#myModal1,
#myModal2,
#myModal3,
#myModal4,
.modal-body {
    text-align: center;
}

hr {
    width: 940px;
    height: 10px;
    margin: 0 auto;
}

.fixed-link {
    position: fixed;
    background: rgba(39, 38, 38, 0.77);
    z-index: 1000;
    padding: 10px 9px;
    right: 0px;
}

.fixed-link .btn-success {
    background: rgba(255, 0, 0, 0.77);
    border: none;
    font-size: 15px;

    border-radius: 0px;
}

.fixed-link .btn-success:hover {
    background: #f76969;
}

#popup_contact {
    border-color: #2F96B4;
}

#popup_contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

#way .form form button {
    margin-top: 15px;
    padding: 5px 15px;
    width: 240px;
}

#about .title h2 {
    margin-bottom: 40px;
}

#about p {
    font-size: 23px;
    color: #0a0a0a;
}

#calc .just {
    width: 100%;
}

#calc .radioboxes .alert {
    margin-top: 40px;
}

#calc .ch-form .alert {
    margin-top: 40px;
}

#calc .ch-form h4 {
    margin-bottom: 20px;
}

#calc .size-inputs input[type="text"] {
    height: 35px;
    padding: 0 5px;
}

#calc .size-inputs {
    width: 200px;
    text-align: center;
}

#calc .size-inputs label {
    display: block;
}

#calc .btn-calculate {
    background-color: #fc6623;
    padding: 5px 20px;
    height: 35px;
    font-weight: normal;
    text-transform: uppercase;
}

#calc .btn-calculate:hover {
    background-color: #D9534F;
    border-color: #D43F3A;
}

#calc .summary {
    display: none;
}

#calc .zakaz-calc input {
    width: 316px;
    padding: 0 5px;
}

.calc-modal .modal-body img {
    margin-bottom: 30px;
}

.calc-modal .modal-body p {
    margin: 0 10px;
}

.modal-content {
    padding-top: 10px;
}

.logo p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 188px;
}

#footer .adress {
    margin-left: 13px;
}

#footer .adress p {
    width: 155px;
    text-align: center;
}

#map .left, #map .right {
    width: 50%;
    height: 450px;
    float: left;
}

#map .right {
    background-size: contain;
    background-image: url("../img/pav.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

#map .right img {
    display: block;
    display: none;
    width: 90%;
    margin: 95px auto 0;
}

@media all and (max-width: 1200px) {
    #map .left,
    #map .right {
        float: none;
        width: 100%;
    }
}

#footer .container {
    position: relative;
}

#footer .social {
    position: absolute;
    right: 33px;
    bottom: 3px;
}

.adv-box a {
    color: #FF8000;
}