{% extends '@App/layout.html.twig' %}

{% block content %}
    <section id="portfolio" class="portfolio padding-large text-center">
        {% for item in items %}
            <div class="title">
                <h2>{{ item.category.title }}</h2>
            </div>
            <div class="portfolio-wrapper margin-bottom-medium">
                {% for element in item.items %}
                    <div class="portfolio-item print">
                        <div class="portfolio">
                            <a href="{{ element.getWebPath() }}" data-lightbox-gallery="portfolio">
                                <img src="{{ element.getThumb('small') }}" alt="{{ element.getTitle() }}"/>
                                <div class="portfolio-overlay">
                                    <div class="button">Увеличить</div>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </section>
{% endblock %}