{% extends '@App/layout.html.twig' %}

{% block content %}
    <section id="portfolio" class="portfolio padding-large text-center">
        {% for category in categories %}
            <div class="title">
                <h2>{{ category.getTitle() }}</h2>
            </div>
            <div class="portfolio-wrapper margin-bottom-medium">
                {% for item in category.getItems() %}
                    {% if item.getVisible() %}
                        <div class="portfolio-item print">
                            <div class="portfolio">
                                <a href="{{ item.getWebPath() }}" data-lightbox-gallery="portfolio">
                                    <img src="{{ item.getThumb('small') }}" alt="{{ item.getTitle() }}"/>
                                    <div class="portfolio-overlay">
                                        <div class="button">Увеличить</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </section>
{% endblock %}