{% extends '@App/layout.html.twig' %}

{% block content %}
    <section id="portfolio" class="portfolio padding-large text-center">
        <div class="portfolio-wrapper margin-bottom-medium">
            {% for i in 1..16 %}
                <div class="portfolio-item print">
                    <div class="portfolio">
                        <a href="{{ asset('bundles/app/img/portfolio/item.jpg') }}" data-lightbox-gallery="portfolio">
                            <img src="{{ asset('bundles/app/img/portfolio/sm.jpg') }}" alt="Portfolio 1"/>
                            <div class="portfolio-overlay">
                                <div class="button">Увеличить</div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}