{% extends '@App/layout.html.twig' %}

{% block content %}
    <section id="portfolio" class="portfolio padding-large text-center">
        <div class="portfolio-wrapper margin-bottom-medium">
            {% for item in portfolioItems %}
                <div class="portfolio-item print">
                    <div class="portfolio">
                        <a href="/{{ item.getWebPath() }}" data-lightbox-gallery="portfolio">
                            <img src="/{{ item.getWebPath() }}" alt="{{ item.getTitle() }}"/>
                            <div class="portfolio-overlay">
                                <div class="button">Увеличить</div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}