{% extends '@App/layout.html.twig' %}

{% block content %}
    <div id="about">
        <div class="container">
            <div class="title">
                <h2>
                    {{ page.title }}
                </h2>
            </div>
            <p>
                {{ page.content|raw }}
            </p>
        </div>
    </div>
{% endblock %}